/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	font-family: 'Work Sans' ;
	font-size: 14px;
}

.container{
	max-width: 1140px;
	margin:auto;
}	

.mode_edition{
	display: flex;
	align-items: center;
	background-color: black;
	color: #FFFFFF;
	justify-content: center;
	height: 59px;
	margin: 0;
	font-size: 16px;
	font-family: Work Sans;
}


header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

a{
	text-decoration: none;
	color: inherit;
}


li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
.projets{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: 100px 0 50px 0;
}

.edit_button{
	margin-bottom: 1.5em;
	position: absolute;
	transform: translateX(170px);
	cursor: pointer;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}


.edit_icon{
	height: 15px;
	padding-right: 5px;
}


.filtres{
	height: 37px;
	margin: 0 0 50px 0;
	display: flex;
	justify-content: center;
}
.filtres button{
	cursor: pointer;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	min-width: 100px;
	height: 37px;
	padding: 0 10px;
	color: #1D6154;
	border: solid 1px #1D6154;
	margin : 0 4px ;
	text-align: center;
	border-radius: 60px ;
}

.filtres button:focus{
	background-color: #1D6154;
	color: white;
}


.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

.gallery figcaption{
	padding-top: 5px;
	color:rgba(61, 61, 61, 1);
}
#contact , .login__section {
	width: 50%;
margin: auto;
}
#contact ,.login__section > * {
	text-align: center;

}
#contact h2, .login__section h2{
	margin-bottom: 20px;
}
#contact form , .login__form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, .login__form input, .modale__content__form input, .modale__content__form select{
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, .login__form label, .modale__content__form label {
	margin: 2em 0 1em 0;
}
#contact textarea , .login__form textarea{
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	cursor: pointer;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


/* Style page login */

.body__login{

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: rgba(255, 254, 248, 1);
	margin:auto;
	max-width: 1140px;
}

.body__login .container{
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height:1024px;
	width: 100%;
}
.body__login main{
	display: flex;
	justify-content: center;
	margin-top: -70px;
}

.body__login footer{
	background: rgba(255, 255, 255, 1);

}

.login__section{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 379px;
	height:500px;
}


.login__form input{
	width: 379px;
	height: 51px;
}


.login__form input[type="submit"]{
	width: 179px;
}

.login__section a{
	text-decoration: underline;
}

.messageErreur{
	color:red;
	padding-bottom: 20px;
	text-align: center;
	display: none;
}


/* Style modale modifier */
.modale__container{
	display: none;
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	justify-content: center;
	
}

.modale{
	width: 630px;
	height: 688px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 1);
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
	box-sizing: border-box;
	align-self: center;
}

.modale__backandclose{
	font-size: 18px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 30px 30px 0 30px;
	box-sizing: border-box;
}

.fa-arrow-left{
	font-size: 21px;
	opacity: 0;
	cursor: pointer;
}

.fa-xmark{
	align-content: flex-end;
	cursor: pointer;
}


.modale__title{
	font-family: Work Sans;
	font-size: 26px;
	font-weight: 400;
	color: black;
	margin-top: 20px;
}

.modale__content{
	height:80%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.modale__content__gallery{
	margin:30px 30px 0 30px;
	padding-bottom: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 10px;
	position: relative;
	align-items: center;
	height: 350px;
}

.modale__content__gallery figure{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	position: relative;
}


.modale__content__gallery__image{
	width: 76.86px;
	height: 102.57px;
	
}

.modale__content__gallery__icon{
	position: absolute;
	color: white;
	background-color: black;
	border-radius: 2px;
	margin: 5px;
	cursor: pointer;
	font-size: 11px;
	padding: 3px;
}

.modale__submit{
	cursor: pointer;
	width: 237px;
	height: 36px;
	border-radius: 60px;
	background-color: rgba(29, 97, 84, 1);
	color: #FFFFFF;
	font-family: Syne;
	font-size: 14px;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}

/* Style modale ajout photo */

.modale__content__form{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.modale__content__form__load{
	width: 420px;
	height: 169px;
	border-radius: 3px;
	background-color: rgba(232, 241, 246, 1);
	margin: 30px 0 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modale__content__form__load__icon{
	font-size: 65px;
	color:rgba(185, 197, 204, 1);
	margin-top: 20px;
}

.modale__content__form__load__submit{
	width: 173px;
	height: 36px;
	border-radius: 50px;
	background-color: rgba(203, 214, 220, 1);
	color:rgba(48, 102, 133, 1);
	border: none;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: absolute;
	align-self: center;
	transform: translateY(100px);

}

.modale__content__form__load__input{
	display: none;
}

.modale__content__form__load__preview{
	max-height: 170px;
}

.modale__content__form__load__p{
	color: rgba(68, 68, 68, 1);
	font-size: 10px;
	font-weight: 400;
	position: absolute;
	text-align: center;
	align-self: center;
	transform: translateY(170px);
}

.modale__content__form__submit{
	width: 237px;
	height: 36px;
	font-family: Syne;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	border-radius: 60px;
	border: 0px;
	align-self: center;
	background-color: rgba(167, 167, 167, 1);
	color: #FFFFFF;
	margin-top: 50px;
	cursor: pointer;
}

.active{
	background-color: #1D6154;
}

.design__line{
	border-bottom: 1px solid rgba(179, 179, 179, 1);
	height : 50px;
	width: 420px;
}